.Carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  align-items: flex-start;
  position: relative;

  .Carousel-content {
    transition: transform 1s linear;
    transform: translateX(300%);
    animation: animation-Carousel 5s linear infinite;

    ul {
      margin-top: 10px;
      list-style: none;
      opacity: 0;
      transition: opacity 1s linear;
    }
  }

  .Carousel-list {
    ul {
      opacity: 1;
    }
  }

  @keyframes animation-Carousel {
    0% {
      transform: translateX(300%);
    }

    15% {
      transform: translateX(0%);
    }

    85% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-300%);
    }
  }
  
  .Carousel-output {
    transform: translateX(-300%);
  }
  
  .Carousel-input {
    transform: translateX(300%);
  }

  .Carousel-opacity {
    opacity: 0;
  }
}

.Carousel-dot {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  bottom: 5px;
  gap: 30px;
  z-index: 3;

  > span {
    width: 10px;
    height: 10px;
    background-color: var(--info);
    border-radius: 50%;
  }

  .Carousel-dot-active {
    background-color: var(--primary);
  }
}
