.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 75vh;
  position: relative;
  background-color: var(--secondary);

  > section {
    color: var(--primary);
    padding-top: 100px;
    position: relative;
    height: 430px;
    /* overflow: hidden; */

    h1 {
      font-size: 35px;
      color: var(--info);
    }
  }

  .Header-CurveSeparator {
    position: absolute;
    bottom: 0;
    fill: var(--primary);
  }
}

@media (max-width: 1024px) {
  .Header {


    > section {
      padding-top: 60px;
    }
  }
}

@media (max-width: 868px) {
  .Header {

    > section {
      padding-top: 60px;

      h1 {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Header {

    > section {
      padding-top: 60px;

      h1 {
        font-size: 30px;
        width: 600px
      }
    }
  }
}

@media (max-width: 640px) {
  .Header {

    > section {

      h1 {
        font-size: 25px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 465px) {
  .Header {
  }
}

@media (max-width: 375px) {
  .Header {
  }
}