@font-face {
  font-family: 'Rodley';
  src: local('Rodley'), url(./assets/Demo_Fonts/Fontspring-DEMO-rodley-thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'Rodley';
  src: local('Rodley'), url(./assets/Demo_Fonts/Fontspring-DEMO-rodley-light.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Rodley';
  src: local('Rodley'), url(./assets/Demo_Fonts/Fontspring-DEMO-rodley-regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Rodley';
  src: local('Rodley'), url(./assets/Demo_Fonts/Fontspring-DEMO-rodley-semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Rodley';
  src: local('Rodley'), url(./assets/Demo_Fonts/Fontspring-DEMO-rodley-bold.otf);
  font-weight: 700;
}

:root {
  --text-white: #fff;
  --primary: #f8f9fa;
  --secondary: #495057;
  --info: #f07622;
  /* --warning: #07B3F9; */
  --warning: #ffee00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rodley';
}

body {
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
  background-color: var(--text-white);
}

section {
  width: 100%;
  max-width: 1170px;
  padding: 0 10px;
}

.btn {
  cursor: pointer;
  width: 192px;
  height: 42px;
  padding: 14px 26px;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #ffffff4d;
  box-shadow: 2px 3px 7px #00000099;
  line-height: 100%;
  background: linear-gradient(240deg, #543ab7 0%, #00acc1 100%);
  color: var(--text-white);
  margin: 20px 0;
  text-decoration: none;
}