.Parallax {
    position: relative;
    width: 100%;
    height: 528px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      fill: var(--secondary);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .Parallax-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: transparent;
      list-style: none;

      > li {
        width: 20px;
        height: 20px;
        position: absolute;
        animation: all 2s linear infinite;
        border: 3px solid #1294bf71;
        opacity: 100%;
        bottom: 0%;
        border-radius: 5px;
      }
    }

    > section {
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 120px;

      .box {
        width: 100%;
        max-width: 500px;
        height: 300px;
        border-radius: 15px;
        /* box-shadow: 2px 3px 7px #00000099; */
        box-shadow: 0 2px 8px #0e131812;
        border: 1px solid #ffffff4d;
        padding: 20px;
        text-align: center;
        text-shadow: 0 1px 1px #00000066;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
        backdrop-filter: blur(5px);
        background: linear-gradient(90deg, #d7d4d454, #99939340);

        .text-box {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }

        > .Parallax-man {
          position: absolute;
          width: 172px;
          top: 150px;
          right: 20px;
          z-index: 3;
        }

        .Parallax-air-conditioner {
          position: absolute;
          width: 165px;
          right: 11px;
          z-index: 2;
        }
      }

      h2 {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
      }

      h3 {
        font-size: 20px;
        font-weight: 100;
      }
    }
}

@media (max-width: 500px) {
  .Parallax {

    > section {

      h2 {
        font-size: 26px;
      }

      h3 {
        font-size: 14px;
      }

      .box {
        
        .Parallax-man {
          width: 143px;
          top: 166px;
        }

        .Parallax-air-conditioner {
          width: 148px;
        }
      }
    }
  }
}

@media (max-width: 415px) {
  .Parallax {

    > section {

      h2 {
        font-size: 26px;
      }

      h3 {
        font-size: 14px;
      }

      .box {
        
        .Parallax-man {
          width: 123px;
          top: 182px;
        }

        .Parallax-air-conditioner {
          width: 120px;
          top: 60px;
        }
      }
    }
  }
}